<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @employee.name%>,
		We are sorry to inform you that your claim has been rejected by your manager (<%=@manager.name%>) with below reason
	</p>
	<p>Claim Details.</p>
	<p>Claim ID :<%=@billexpense.claimPrefix%><%=@billexpense.id%></p>
	<p>Claim Amount :<%=@billexpense.grandTotal%></p>
	<p>Rejection Reason : <%=@billexpense.remarks%></p>
	<p>
	Thanks & Regards,
	Marlabs Training Team
	</p>
  </body>
</html>